body{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}
p{
    color: black;
    font-size: 1.2rem;
}
/*********************************headings**************************/
.big-heading{
    
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
.felso_sor{
    background-color: #ededef;
    padding: 0% 50% 0% 2%;
    
}
.social-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 35px;
    
  }
  .social-container i{
    color: black;
    margin-left: auto;
    width: 50px;
  }

/**********************************containers**********************/
.container-fluid{
    padding: 7% 15%;
}
.row{
    margin: auto;   
}
/**********************************sections***********************/
.colored-section{
    background-color: #f7f7f7;
    color: black;
}
.white-section{
    background-color: white;
}
/**********************************nav bar**********************/
.navbar{
  
    padding-bottom: 0.5rem;
}
.navbar-brand{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    font-weight: bold;
}
.nav-item{
    
    padding: 0 10px;
}
.nav-link{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
}
/***********************************title section************************/
#title .container-fluid{
    padding:  3% 15% 7%;
    text-align: left;
}
.col-lg-6{
    background-color: white;
    padding-right: 10px;
}
/**********************************Download buttons**************/
.download-button{
    margin: 5% 3% 5% 0;
}
/********************************image titles*******************/
.title-image{
    height:100%;
    right: 30%;    
    width: 102%;
}

/*********************************Features section*************************/
#features{
    position: relative;
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box{
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: black;
}
/*********************************Testimonial Section***********************/
#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size:  3rem;
    line-height: 1.5;
}
.testimonial-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%; 
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    margin: 20px 20px 50px;
    width: 15%;
}
/*///////////////////////pricing//////////////*/
#pricing{
    padding: 100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
    
}
.pricing-column{
    padding: 3% 2%;
}
/***************************footer section**************/
.social-icon{
    margin:20px 10px;
}
.copyright{
    font-size: 0.75rem;
}
/**************************@media******************/
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 90%;
    }
}
